.product-container {
  width: 100%;
  background: rgba(255, 192, 203, 0.24);
  padding-top: 30px
}

.products {
  width: 90%;
  margin: 0 auto;
}

.products-action {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .products-action {
    flex-wrap: wrap;
  }
}