.filter {
  width: 100%;
  margin: 10px 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  flex-wrap: wrap;
}

.MuiInput-formControl {
  margin: 0 !important
}

#checkbox-label {
  font-size: 12px;
  margin-top: -16px
}